*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(155, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    padding: 15px 10px;

}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropdownButton {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 16px;
}
    
.dropdownContent {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 100px;
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: black;
    color: pink;
}

.dropdown:hover .dropdownContent {
    display: block;
}
.container{
    text-align: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.title{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagecontainer {
    width: 31.33;
}
    
.image-container img {
    width: 150px;
}
.button {
    text-decoration: none;
    padding: 15px 50px;
    background-color: pink;
    border-radius: 50px;
    display: inline-block;
}

.column{
    float: left;
    width: 30.33%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

input[type=text] {
    width: 90%;
    padding: 13px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid pink;
    outline: none;
}


.footer{
    text-align: center;
    background-color: pink;
    color: black;
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
    width: 90%;
}
